@font-face {
    font-family: "Karla";
    src: url("https://coolcolcl.github.io/customdiscthemes/Karla/Karla-Italic-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
